<div id="container">

    <p ng-class="{greyscale : !(radacodeNetState == 'active'), evaluating : radacodeNetState == 'evaluating', glow : radacodeNetState == 'active'}" class="pink">
        <a href="https://radacode.net">radacode.net</a>
    </p>

    <p ng-class="{greyscale : !(radacodeComState == 'active'), evaluating : radacodeComState == 'evaluating', glow : radacodeComState == 'active'}" class="blue">
        <a href="https://radacode.com">radacode.com</a>
    </p>

    <p ng-class="{greyscale : !(jiraState == 'active'), evaluating : jiraState == 'evaluating', glow : jiraState == 'active'}" class="violet">
        <a href="https://radacode.net">Jira</a>
    </p>

    <p ng-class="{greyscale : !(cfState == 'active'), evaluating : cfState == 'evaluating', glow : cfState == 'active'}" class="red">
        <a href="https://cf.radacode.net">CF</a>
    </p>

    <p ng-class="{greyscale : !(swarmState == 'active'), evaluating : swarmState == 'evaluating', glow : swarmState == 'active'}" class="orange">
        <a href="https://p4.radacode.net">SWARM</a>
    </p>

    <p ng-class="{greyscale : !(tcState == 'active'), evaluating : tcState == 'evaluating', glow : tcState == 'active'}" class="amethyst">
        <a href="https://tc.radacode.net">TC</a>
    </p>

    <p ng-class="{greyscale : !(wikiState == 'active'), evaluating : wikiState == 'evaluating', glow : wikiState == 'active'}" class="yellow">
        <a href="https://wiki.radacode.net/">wiki.radacode.net</a>
    </p>

    <p ng-class="{greyscale : !(skbxState == 'active'), evaluating : skbxState == 'evaluating', glow : skbxState == 'active'}" class="green">
        <a href="https://skbx.com">skbx.com</a>
    </p>

</div>
